.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.item {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-items: center;
  margin-top: 26px;
}

.input {
  &:not(:first-child) {
    margin-top: 20px;
  }

  transition: all 0.3s ease;

  border: 1px solid $black;
  box-shadow: 0 0 3px $light-black;

  &:active, &:focus {
    border: 1px solid $gray-green;
    box-shadow: 0 0 5px 1px $gray-green;
    outline: none;
  }
}

.form {
  margin-top: 40px;
}

.signup {
  margin-top: 10px;
}

.button {
  padding: 8px 22px;
  margin-top: 15px;
}

.error {
  border: 1px solid $peach;
  box-shadow: 0 0 8px 1px $peach;

  &_message {
    color: $white;
    background-color: $peach;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    margin: 5px 0;
  }
}