@import "../../../../scss/media";

.recipes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: fit-content;
  margin: 0 auto;
  margin-top: 50px;
  gap: 20px 10px;

  @include breakpoint('laptop') {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint('tablet') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint('md') {
    grid-template-columns: repeat(1, 1fr);
  }
}

.more {
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 10px;
  color: $white;
  font-weight: 500;
  font-size: 18px;
  background-color: $orange;
  padding: 8px 12px;
  margin: 15px auto 0;

  &:hover {
    background-color: $peach;
    transition: all .8s ease-in-out;
  }
}

.more_wrapper {
  display: flex;
  justify-content: center;
}