.advanced-btns {
  display: flex;
  justify-content: flex-end;
}
.actionsBtn {
  display: none;
}
.advanced-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
 }

.advanced-input {
  width: 92%;
  input {
    box-sizing: border-box;
    height: 50px;
  }
  .rdw-image-wrapper {
    display: none;
  }
}

.userImg {
  width: 8%;
}

.overlay {
  margin-top: 100px;
}

.userLink {
  display: flex;
  align-items: center;
  .fullName {
    margin-left: 15px;
    font-weight: bold;
    font-size: 20px;
  }
}

.infoStyle {
  margin-left: 75px;
  code {
    background-color: rgb(241, 241, 241);
  }
}
.replySection {
  margin-left: 50px;
}
.replyBtn {
  background-color: transparent;
  border: none;
  color: grey;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  margin: 15px 0;
  width: 70px;
  padding: 5px;
  border-radius: 4px;
  //display: flex;
  //align-items: center;
  &:hover {
    background: transparent;
  }
}
.replyIcon {
  background-image: url(../../../assets/reply.svg);
  width: 16px;
  height: 13px;
  filter: invert(67%) sepia(0) saturate(0) hue-rotate(110deg) brightness(85%) contrast(84%);
  margin-right: 5px;
  position: absolute;
}
.cancelBtn {
  margin-right: 10px;
}
