@import "../../../scss/media";

.searchWrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  @include breakpoint('mobileLarge') {
    width: 238px;
    padding-right: 10px;
  }
}

.search {
  height: 55px;
  max-width: 600px;
  padding-left: 17px;
}

.picture {
  object-fit: cover;
  border-radius:50%;
  width: 70px;
  height: 70px;

  @include breakpoint('mobileLarge') {
    width: 50px;
    height: 50px;
  }
}

.result {
  position: absolute;
  top: 75px;
  display: flex;
  flex-direction: column;
  width: 99%;
}

.searchContainer {
  width: 100%;
  position: relative;
  max-width: 605px;
  z-index: 10000;
}

.recipe {
  padding: 20px 10px 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 60px;
  color: $black;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;

  &:hover {
    background-color: $black;
    color: $white;
  }

  div {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
  }
}
